asgiref==3.8.1
click==8.1.7
colorama==0.4.6
Django==5.0.9
django-environ==0.11.2
django-filter==24.3
gunicorn==23.0.0
h11==0.14.0
mssql-django==1.5
packaging==24.1
portalocker==2.10.1
pyodbc==5.2.0
python-dotenv==1.0.1
pytz==2024.2
sqlparse==0.5.1
tzdata==2024.2
uvicorn==0.32.0
whitenoise==6.8.2
