{% extends "App/layout.html" %}
{% block title %}
Search
{% endblock %}
{% block content %}

<p> This is a RestAPI demo. </p>
<p> This Web App contains some records of the table diseaseAttributes of the DisGeNET database.</p>
<p> The App provides a search engine to find records for this database. It also takes into account the pagination breaking 
    filtering problem and provide a simple solution, and yet a elegant one, for it.</p>
<p> Finally, CRUD operations are implemented. </p>

{% endblock %}
